html,
body {
    background-image: url("/images/background.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;

}

h1 {
    font-family: 'Notable', sans-serif;
    color: orangered;
}

#add {
    font-family: 'Faustina', serif;
}

#menu {
    font-family: 'Lexend Peta', sans-serif;
}

#eaten {
    font-family: cursive;
}

.card {
    opacity: .95;
}

.card-body {
    background: rgb(189, 213, 229);
}

img {
    width: 70%;
}