

h1 {
    font-family: 'Notable', sans-serif;
    color: orangered;
}

#add {
    font-family: 'Faustina', serif;
}

#menu {
    font-family: 'Lexend Peta', sans-serif;
}

#eaten {
    font-family: cursive;
}